:root {
    --greenr: #01df01;
    --grayr: #E6E6E6;
    --blackr: #262626;
}

html {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #424242;
}

img {
    width: 100%;
}

/* Scroll bar */
body::-webkit-scrollbar {
    width: 10px;
    background: var(--blackr);
}

body::-webkit-scrollbar-thumb {
    background: var(--greenr);
    border-radius: 5px;
}

#content {
    max-height: 1366px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(70px, auto);
    grid-gap: 10px;
    grid-template-areas: 
        "header header header header header header header header"
        "cover cover cover cover cover cover cover cover"
        "sidebar sidebar sidebar sidebar sidebar main main main"
        "sidebar2 sidebar2 sidebar2 sidebar2 sidebar2 main main main"
        "portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio"
        "section section section section section section section section"
        "services services services services services services services services"
        "services services services services services services services services"
        "clients clients clients clients clients clients clients clients"
        "contacts contacts contacts contacts contacts contacts contacts contacts"
        "footer footer footer footer footer footer footer footer"
    }

/* Header */
.header  {
    grid-area: header;
    background-color: var(--blackr);
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 25;
}

.logo {
    height: 60px;
    width: auto;
    margin-left: 100px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    color: #fff; 
}

.links a:hover {
    color: #01df01;
    cursor: pointer;
}

.hamburger-icon {
   display: none;
}

/* Cover */
.cover {
    grid-area: cover;
    background-image: url("../images/programming4.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.cover h1 {
    color: #fff;
    font-size: 55px;
    text-align: center;
    text-shadow: 3px 3px #424242;  
    padding-top: 220px;
}

.cover h2 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px #424242; 
    padding: 50px;
}

.cover strong {
   color: var(--greenr);
}

.button-cover {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: var(--greenr);
    font-size: 15px;
    font-weight: bold;
    border: 3px solid var(--greenr);
    border-radius: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 43%;
    cursor: pointer;
    transition-duration: 1s;
}

.button-cover:hover {
    color: var(--greenr);
    border: 3px solid #fff;
    background-color: #fff;
    transition-duration: 1s;
}

/* Contact Slide Up-Down */
.contact-slide {
    position: fixed;
    z-index: 10;
    top: 11em;
    right: 15em;
    bottom: 11em;
    left: 15em;
    background: #fff;
    box-shadow: 0 0 0 12em rgba(black, .5);

    display: none;
}

.contact-slide-header {
    text-align: left;
    padding: 5em 0;
    background-image: url("../images/contact-modal5.jpeg");
    background-size: cover;
    background-position: center;
}

.contact-slide-title-box {
    background-color: var(--greenr);
    padding: 2em 0 2em 2em;
    color: #fff;
    width: 30%;
    opacity: 0.7;
}

.contact-slide-title {
    font-size: 2rem;
    display: inline-block;
}

.contact-slide-title::after {
    content: "";
    display: block;
    height: 1px;
    margin: 0.5em 0;
    background: #fff;
    width: 100%
}

.contact-slide-content h2 {
    font-size: 2rem;
    padding: 5px;
}

.contact-slide-content p {
    line-height: 1.5rem;
}

.contact-slide-content {
    background-color: var(--greenr);
    height: 32%;
    text-align: center;
    padding-top: 15px;
}

.contact-slide-content-bg {
    background-color: var(--blackr);
    margin: -5px 10px 10px 10px;
    height: 95%;
    color: #fff;
}

.slide-close {
    background: transparent;
    position: fixed;
    border-radius: 50%;
    border: 0;
    width: 2em;
    height: 2em;
    box-shadow: 0 0 5px rgba(black, .5);
    cursor: pointer;
    color: #fff;
}

/* Animations */ 
.lightSpeedIn {
    animation-duration: 2s; 
}

.slideInLeft {
    animation-duration: 2s; 
}

.flipInX {
    animation-duration: 5s;
}

/* About Me */
.sidebar {
    grid-area: sidebar;
    background-color: var(--blackr);
    color: #fff;
    font-size: 18px;
    line-height: 2rem;
    padding: 30px;
}

.sidebar h2 strong {
    color: var(--greenr);
 }

 .sidebar p {
     text-align: justify;
 }

/* Titles */
.titles {
    font-size: 30px;
    text-align: center;
    padding: 35px 0px 35px 0px;
}

/*Sidebar2*/
.sidebar2 {
    grid-area: sidebar2;
    background-color: var(--blackr);
    height: 380px;
}

.sidebar2 div {
    width: 80%;
    background: #fff;
    height: 10px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-left: 50px;
}

.sidebar2 h3 {
    margin: 10px 5px 5px 50px;
    color: #fff;
}

.html-bar::before {
    content: '';
    width: 95%;
    height: 15px;
    background: #e74c3c;
    position: absolute;
    left:0;
}

.css-bar::before {
    content: '';
    width: 98%;
    height: 15px;
    background: #076da8;
    position: absolute;
    left:0;
}

.bootstrap-bar::before {
    content: '';
    width: 80%;
    height: 15px;
    background: #8000FF;
    position: absolute;
    left:0;
}

.graphql::before {
    content: '';
    width: 85%;
    height: 15px;
    background: #e10098;
    position: absolute;
    left:0;
}

.js-bar::before {
    content: '';
    width: 65%;
    height: 15px;
    background: var(--greenr);
    position: absolute;
    left:0;
}

.react-js::before {
    content: '';
    width: 90%;
    height: 15px;
    background: #2ECCFA;
    position: absolute;
    left:0;
}

.mongodb::before {
    content: '';
    width: 70%;
    height: 15px;
    background: #116149;
    position: absolute;
    left:0;
}

.typescript::before {
    content: '';
    width: 60%;
    height: 15px;
    background: #ffa700;
    position: absolute;
    left:0;
}

.linux::before {
    content: '';
    width: 50%;
    height: 15px;
    background: #185886;
    position: absolute;
    left:0;
}

/* Profile card (About me section)*/
.main {
    grid-area: main;
    background-color: var(--blackr);
    height: 965px;
}

.box {
    width: 400px;
    height: 450px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    overflow: hidden;
    position: absolute;
    top: 175%;
    left:81.5%;
}

.img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
    background: #000;
}

.box:hover .img-box {
   transform: translateY(-100px);    
   cursor: pointer;
}

.img-box img {
    transition: 0.5s;
}

.box:hover .img-box img {
    opacity: 0.5;
}

.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    margin: 0;
    padding: 0;
}

.social-icons li {
    list-style: none;
}

.social-icons li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #000;
    color: var(--greenr);
    margin: 0 5px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateY(200px);
    opacity: 0;
}

.box:hover .social-icons li a {
    transform: translateY(0px);
    opacity: 1;
}

.box .social-icons li a .fa {
    transition: 0.5s;
    font-size: 24px;
    line-height: 50px;
}

.box:hover .social-icons li:nth-child(1) a {
    transition-delay: 0s;
}

.box:hover .social-icons li:nth-child(2) a {
    transition-delay: 0.2s;
}

.box:hover .social-icons li:nth-child(3) a {
    transition-delay: 0.4s;
}

.box:hover .social-icons li:nth-child(4) a {
    transition-delay: 0.6s;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 79px;
    box-sizing: border-box;
    z-index: 4;
    background: #fff;
    padding: 4px;
    line-height: 2rem;
    z-index: 1;
}

.cumplo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 79px;
    box-sizing: border-box;
    z-index: 4;
    background: #00ba68;
    padding: 4px;
    line-height: 2rem;
    z-index: 1;
}

.details h2 {
    text-align: center;
    margin: 10px 0 0;
    padding: 0;
}

.details h2 span {
    text-align: center;
    font-size: 14px;
    color: #727070;
}

/* Portfolio */
.portfolio {
    grid-area: portfolio;
    background-color: var(--blackr);
    margin: 0;
    padding: 0;
}

.portfolio h2 {
    color: var(--grayr);
    font-weight: bold;
}

.portfolio h2 strong {
    color: var(--greenr);
 }

.grid-pics {
    width: 960px;
    height: 850px;
    margin: 10px auto 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-pics .box-grid {
    position: relative;
    width: 250px;
    height: 180px;
    background: #fff;
    margin: 40px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
}

.grid-pics .box-grid .box-img {
    margin-top: 0px;
    position: relative;
    overflow: hidden;
}

.grid-pics .box-grid .box-img img{
    max-width: 100%;
    transition: transform 2s;
}

.grid-pics .box-grid:hover .box-img img {
    transform: scale(1.3) rotate(-10deg);
}

.grid-pics .box-grid .details {
    position: absolute;
    top: 20px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .7);
    transform: scaleY(0);
    transition: transform .5s;
    padding: 0;
    width: 280px;
    height: 150px;
}

.grid-pics .box-grid:hover .details {
    transform: scaleY(1);
}

.grid-pics .box-grid .details .content-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;    
}

.grid-pics .box-grid .details .content-img h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: var(--greenr);  
    list-style: none;
    text-transform: uppercase;
}

/* Photo Section */
.p-section {
    grid-area: section;
    background-image: url("../images/france-paris.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    color: #fff;
    font-size: 30px;
    height: 75vh;
}

.p-section h2 {
    width: 650px;
    padding: 40px;
    line-height: 3rem;
    text-shadow: 2px 2px black;
    text-align: justify;
}

.button-section {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: center;
    margin-left: 280px;
    padding: 8px 10px;
    transition-duration: 1s;
}

.button-section:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: var(--greenr);
    transition-duration: 1s;
}

/* Services */
.services {
    grid-area: services;
    background-color: var(--blackr);
    color: #fff;
}

.services h2 {
    padding: 40px;
    color: #fff;
}

#services h2 strong {
    color: var(--greenr);
    font-weight: bold;
 }

.services p {
    font-size: 18px;
    line-height: 2rem;
    color: #fff;
    text-align: justify;
    padding: 0px 30px;
}

.service {
    display: flex;
    justify-content: space-around;
}

.icons {
    font-size: 30px;
    text-align: center;
    margin: 40px;
    color: var(--greenr);
    transition: .5s;
}

.icons:hover {
    transform: translateY(-30%);
    color: #fff;
}

.icons p {
    color: #fff;
    padding-top: 10px;
    font-size: 25px;
}

/* Clientes */
.clients {
    grid-area: clients;
    background-image: url("../images/background-clients2.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    color: #fff;
}

.clients h2 strong {
    color: var(--greenr);
    font-weight: bold;
}

.slider {
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 35px;
    position: relative;
    width: 550px;
    height: 160px;
    padding-bottom: 10%;
    background: transparent;
    border: solid 3px #2c2c2c;
}

.slider p {
    width: 400px;
    text-align: justify;
    padding: 20px 15px 5px 75px;
    line-height: 20px;
}

.slider h5 {
    color: var(--greenr);
    padding: 20px 0px 20px 75px;
    font-size: 20px;
    font-weight: bold;
}

.slider h6 {
    padding-left: 75px;
    font-size: 15px;
}

.slider-img {
    position: absolute;
    width: 100%;
    height: 100%
}

#i1, #i2, #i3 {
    display: none;
}

.pre, .next {
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88, 88, 88, .4);
    z-index: 99;
    cursor: pointer;
}

.pre {
    left: 0;
}

.next {
    right: 0;
}

.nav {
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots {
    top: -5;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
}

.slider-img {
    z-index: -1;
}

#i1:checked ~ #one, 
#i2:checked ~ #two, 
#i3:checked ~ #three {
    z-index: 9;
} 

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3 {
    background: #fff;
}

/* Contacts */
.contacts {
    grid-area: contacts;
    background-color: var(--grayr);
    display: flex;
    height: 500px;
}

.flip-card {
    background: var(--grayr);
    width: 30%;
    height: 460px;
}

.flip-card h2 strong {
    color: var(--greenr);
    font-weight: bold;
 }

.main-container {
    position: relative;
    width: 270px;
    height: 375px;
}

.the-card {
    position: absolute;
    top: 2%;
    left: 25%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.the-card:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.the-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--blackr);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

.the-front-box {
    background: var(--greenr);
    color: #fff;
    font-size: 25px;
    padding: 5px 0px 5px 0px;
}

.the-front h3 {
    padding-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.the-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--blackr);
    color: #333;
    transform: rotateY(180deg);
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

.the-back-icons {
    display: flex;
}

.the-back p {
    color: #fff;
    font-size: 15px;
    margin-top: 70px;
}

.the-back .fas {
    color: var(--greenr);
    font-size: 20px;
    margin: 70px 10px 0px 10px;
}

.map {
    width: 70%;
    height: 500px;
}

#map {
    width: 100%;
    height: 500px;
}

/* Jquery back to top button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: var(--greenr);
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    display: hide;
    z-index: 20;
}

/* Footer */
.footer {
    grid-area: footer;
    background-color: var(--blackr);
    color: #fff;
    text-align: center;
}

.logo2 {
    height: 50px;
    width: auto;
    padding-top: 10px;
}

.footer h2 {
    padding-top: 10px;
}

.footer p {
    padding-top: 10px;
}

.footer div {
    line-height: 1.5rem;
}

.icons-footer {
    display: flex;
    padding-top: 20px;
    font-size: 25px;
    justify-content: center;
}

.icons-footer a {
    text-decoration: none;
    margin-right: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.icons-footer a:hover {
    color: var(--greenr);
    transition-duration: 500ms;
}

@media (max-width: 1200px) and (min-width: 800px) {

    #content {
        display: grid;
        max-width: 1200px;
        min-width: 800px;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 10px;
    }

    /* Header */
    .header  {
        grid-template-columns: 1 / -1; 
        position:static;
    }

    .logo {
        height: 50px;
        margin-left: 50px;
    }

    .links a {
        font-size: 0.95rem;
        margin-right: 50px;
    }

    /*Cover*/
    .cover {
        grid-template-columns: 1 / -1;
        height: 90vh;
    }
    
    .cover h1 {
        font-size: 3.5rem;
        padding-top: 180px;
    }
    
    .cover h2 {
        font-size: 3rem;
        padding: 50px;
    }
    
    .button-cover {
        font-size: 0.85rem;
    }
    
    /* Contact Slide Up-Down */
    .contact-slide-title-box {
        width: 35%;
    }

    .contact-slide-title {
        font-size: 1.8rem;
    }

    .contact-slide-content {
        height: 35%;
    }

    /*About Me*/
    .sidebar {
        grid-column: 1 / span 3;
        font-size: 16px;
        line-height: 1.7rem;
        max-height: 460px;
        min-height: 344px;
        width: 100%;
        padding: 0px;
        margin-left: 10px;
    }

    .sidebar p {
        padding: 30px;
    }

    /* Profile card (About me section)*/
    .main {
        display: none;
    }
    
    /*Sidebar2*/
    .sidebar2 {
        grid-column: 4 / 7;
        grid-row: 3 / 4;
        max-height: 460px;
        min-height: 344px;
        margin-left: 10px;
        width: 100%;
    }
    
    .sidebar2 h3 {
        margin: 25px 5px 5px 50px;
    }

    /*Portfolio*/
    .portfolio {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
    }

    .grid-pics {
        width: 800px;
        height: 700px;
        justify-content: center;
    }

    .grid-pics .box-grid {
        margin: 15px;
        border-radius: 10px;
    }

    /* Photo Section */
    .p-section {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
        font-size: 20px;
    }

    .p-section h2 {
        width: 500px;
        padding: 50px;
    }

    /* Services */
    #services {
        grid-column: 1 / -1;
        grid-row: 6 / 8;
        max-width: 1200px;
    }

    .icons {
        font-size: 25px;
        margin: 40px 2% 40px 2%;
    }

    /*Clientes*/
    .clients {
        grid-column: 1 / -1;
        grid-row: 8 / 9;
        height: 85vh;
    }

    /*Contacts*/ 
    .contacts {
        grid-row: 9 / 10;
        height: 550px;
    }

    .flip-card {
        width: 40%;
    }

    .map {
        width: 80%;
        margin-left: 10%;
    }

    #map {
        height: 550px;
    }

    .the-card {
        position: absolute;
        left: 26%;
    }

    .flip-card h2 {
        margin-left: 35%;
    }

    /*Footer*/
    .footer {
        grid-row: 10 / 11;
    }
}
@media (max-width: 799px) and (min-width: 600px) {

    #content {
        max-width: 799px;
        min-width: 600px;
    }

    /* Header */
    .header  {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        position: static;
        width: 100%;
    }

    .logo {
        margin-left: 40px;
    }

    .items {
        display: none;      
        position: absolute;
        top: 70px;
        left: 50%;
        width: 50%;
    }

    .items a {
        display: block;
        height: 50px;
        width: 100%;
        background: var(--blackr);
        text-align: center;
    }

    .hamburger-icon {
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: var(--blackr);
        margin-top: 40px;
        display: block;
        margin-right: 20px;
    }

    .hamburger {
        width: 35px;
        height: 4px;
        background: #01df01;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 5px rgba(0, 0,0, .2);
        transition: .1s;
    }

    .hamburger:before, 
    .hamburger:after {
        content: "";
        position: absolute;
        width: 35px;
        height: 4px;
        background: #01df01;
        box-shadow: 0 2px 5px rgba(0, 0,0, .2);
        transition: .3s;
    }

    .hamburger:before {
        top: -10px;
    }

    .hamburger:after {
        top: 10px;
    }

    .hamburger-icon.active .hamburger {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    }

    .hamburger-icon.active .hamburger:before {
        top: 0;
        transform: rotate(45deg);
        width: 25px;
    }

    .hamburger-icon.active .hamburger:after {
        top: 0;
        transform: rotate(135deg);
        width: 25px;
    }

    /*Cover*/ 
    .cover {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    .cover h1 {
        font-size: 3rem;
        padding-top: 150px;
    }
    
    .cover h2 {
        font-size: 2.5rem;
        padding: 50px;
    }
    
    .button-cover {
        font-size: 0.85rem;
    }  

    /* Contact Slide Up-Down */
    .contact-slide {
        min-width: 340px;
        left: 21%;
        
    }

    .contact-slide-title-box {
        width: 40%;
    }

    /*Profile Card*/
    .main {
        display: none;
    }

    /*Sidebar*/ 
    .sidebar {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

    /*Sidebar 2 */
    .sidebar2 {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        min-height: 300px;
    }

    .sidebar2 h3 {
        margin-top: 17px;
    }  
    
    /*Portfolio*/
    .potfolio {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
    }

    .grid-pics {
        width: 90%;
        height: 700px;
    }

    .grid-pics .box-grid {
        width: 45%;
        height: 25%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .grid-pics .box-grid .details {
        width: 92%;
        height: 85%;
        border-radius: 10px;
    }

    .grid-pics .box-grid .details .content-img {
        padding: 0px;
    }

    .grid-pics .box-grid .details .content-img h2 {
        font-size: 15px; 
    }
    
    .grid-pics .box-grid .details .content-img p {
        margin: 2px 0 0;
        padding: 0;  
        line-height: 1.5rem;
    }    

    /*Photo section*/
    .p-section {
        grid-row: 6 / 7;
        font-size: 15px;
    }

    .p-section h2 {
        width: 300px;
    }

    /*Service*/
    #services {
        grid-row: 7 / 8;
    }

    .services p {
        font-size: 15px;
        padding: 0px 10%;
    }

    .service {
        flex-direction: column;
        width: 300px;
        margin: auto;
    }

    .icons {
        font-size: 55px;
        margin: 35px 2% 35px 2%;
        min-width: 250px;
    }    

    .icons p {
        font-size: 30px;
        text-align: center;
        margin-top: 15px;
    }

     /*Clientes*/
    .clients {
        grid-row: 8 / 9;
        height: 90vh;
    }

    .slider {
        width: 87%;
        height: 280px;
        padding-bottom: 5%;
    }

    .slider p {
        width: 65%;
        padding: 20px 15px 5px 14%;
        font-size: 15px;
    }

    /*Contacts*/ 
    .contacts {
        grid-row: 9 / 10;
    }

    .flip-card {
        display: none;
    }

    .map {
        width: 100%;
    }

    .footer {
        grid-row: 10 / 11;
    }
}
@media (max-width: 599px) and (min-width: 320px) {
    #content {
        max-width: 599px;
        min-width: 320px;
    }

    /* Header */ 
    .header  {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        width: 100%;
        position: static;
    }

    .logo {
        height: 50px;
        margin-left: 8%;
    }

    .items {
        display: none;      
        position: absolute;
        top: 70px;
        left: 50%;
        width: 50%;
    }

    .items a {
        display: block;
        height: 50px;
        width: 100%;
        background: var(--blackr);
        text-align: center;
    }

    .hamburger-icon {
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: var(--blackr);
        margin-top: 40px;
        display: block;
        margin-right: 20px;
    }

    .hamburger {
        width: 35px;
        height: 4px;
        background: #01df01;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 5px rgba(0, 0,0, .2);
        transition: .1s;
    }

    .hamburger:before, 
    .hamburger:after {
        content: "";
        position: absolute;
        width: 35px;
        height: 4px;
        background: #01df01;
        box-shadow: 0 2px 5px rgba(0, 0,0, .2);
        transition: .3s;
    }

    .hamburger:before {
        top: -10px;
    }

    .hamburger:after {
        top: 10px;
    }

    .hamburger-icon.active .hamburger {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    }

    .hamburger-icon.active .hamburger:before {
        top: 0;
        transform: rotate(45deg);
        width: 25px;
    }

    .hamburger-icon.active .hamburger:after {
        top: 0;
        transform: rotate(135deg);
        width: 25px;
    }

    /*Cover*/ 
    .cover {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        background-image: url("../images/mobile-cover6.jpeg");
    }

    .cover h1 {
        font-size: 2.2rem;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .cover h2 {
        font-size: 2rem;
    }
    
    .button-cover {
        font-size: 0.65rem;
        margin-left: 40%;
    }  

    /* Contact Slide Up-Down */
    .contact-slide {
        position: fixed;
        top: 7em;
        right: 3em;
        bottom: 11em;
        left: 3em;
        height: 319px;
    }

    .contact-slide-title-box {
        padding: 1.5em 0 1em 1.5em;
        width: 40%;
        opacity: 0.8;
    }

    .contact-slide-title {
        font-size: 1.5rem;
    }

    .contact-slide-content h2 {
        font-size: 1.5rem;
    }

    .contact-slide-content {
        height: 30%;
        padding-top: 5px;
    }

    .contact-slide-content p {
        line-height: 1.2rem;
    }

    .contact-slide-content-bg {
        margin: 5px 5px 5px 5px;
        height: 87%;
    }

    /*Main*/
    .main {
        display: none;
    }

    /*About Me*/
    .sidebar {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

    /*Skills*/
    .sidebar2 {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        min-height: 250px;
    }

    .sidebar2 div {
        height: 8px;
    }
    
    .sidebar2 h3 {
        margin: 10px 5px 10px 50px;
        font-size: 10px;
    }
    
    .html-bar::before {
        height: 8px;
    }
    
    .css-bar::before {
        height: 8px;
    }
    
    .bootstrap-bar::before {
        height: 8px;
    }
    
    .jquery-bar::before {
        height: 8px;
    }
    
    .js-bar::before {
        height: 8px;
    }

    /* Portfolio */ 
    .grid-pics {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
        width: 65%;
        height: 900px;
    }

    .grid-pics .box-grid {
        width: 16rem;
        height: 9.5rem;
        margin: 0 auto;
        border-radius: 10px;
    }

    .grid-pics .box-grid .details {
        width: 90%;
        height: 8rem;
        border-radius: 10px;
    }

    .grid-pics .box-grid .details .content-img h2 {
        font-size: 15px;   
    }
    
    .grid-pics .box-grid .details .content-img p {
        margin: 10px 0 0;
        padding: 0;  
        line-height: 1.2rem;
    }

    /*Photo Section*/
    .p-section {
        grid-column: 1 / -1;
        grid-row: 6 / 7;
        font-size: 15px;
        max-width: 599px;
        height: 85vh;
        background-position: right;
    }
    
    .p-section h2 {
        width: 45%;
        line-height: 1.5rem;
        padding-left: 50%;
        padding-right: 0%;
    }
    
    .button-section {
        font-size: 13px;
        margin-left: 50%;
        padding: 6px 8px;
    }

    /* Services */
    .services {
        grid-column: 1 / -1;
        grid-row: 7 / 8;
    }
    
    .service {
        flex-direction: column;
        margin: auto;
        width: 250px;
    }

    .services p {
        font-size: 14px;
    }

    .icons {
        font-size: 35px;
        margin: 35px auto 35px auto;
        min-width: 250px;

    }
    
    .icons p {
        font-size: 20px;
        text-align: center;
    }

    /*Clients*/
    .clients {
        grid-column: 1 / -1;
        grid-row: 8 / 9;
        background-image: url("../images/mobile-client4.jpeg");
        height: 100vh;
    }

    .slider {
        margin: 0 auto;
        width: 85%;
        height: 300px;
    }

    .slider p {
        width: 70%;
        padding: 15px 10px 5px 10px;
        line-height: 18px;
        font-size: 13px;
        margin: auto;
    }

    .slider h5 {
        padding: 13px 0px 15px 0px;
        font-size: 20px;
        text-align: center;
    }

    .slider h6 {
        font-size: 15px;
        text-align: center;
        padding-left: 0px;
    }

    .nav {
        bottom: 9%;
    }

    /*Contacts*/
    .contacts {
        grid-column: 1 / -1;
        grid-row: 9 / 10;
        height: 450px;
    }

    .flip-card {
        display: none;
    }

    .map {
        width: 100%;
    }

    #map {
        height: 450px;
    }
    /*Footer*/
    .footer {
        grid-column: 1 / -1;
        grid-row: 10 / 11;
    }

}

